.competition(ng-controller="CompetitionCtrl as c")
  .competitor.competition__competitor
    form(ng-submit="c.update()")
      p.competitor__input
        input(type="text" ng-model="c.companion.name")
        input(type="submit")
    .competitor__image
      a(href="http://ja.wikipedia.org/wiki/{{c.companion.name}}")
        img(ng-src="{{c.companion.image_url}}")
      p(ng-class="c.companion.finish_style") {{c.companion.finish_text}}
    .metric.competitor__metric(ng-repeat="metric in c.companion.metricitems")
      p.metric__icon(ng-class="metric.icon") &#10145;
      p.metric__name {{metric.name}}
      p.metric__text {{metric.text}}
  .competition__shuffle
    p(ng-click="c.shuffleMetrics()") VS
  .competitor.competition__competitor
    form(ng-submit="c.update()")
      p.competitor__input
        input(type="text" ng-model="c.opponent.name")
        input(type="submit")
    .competitor__image
      a(href="http://ja.wikipedia.org/wiki/{{c.opponent.name}}")
        img(ng-src="{{c.opponent.image_url}}")
      p(ng-class="c.opponent.finish_style") {{c.opponent.finish_text}}
    .metric.competitor__metric(ng-repeat="metric in c.opponent.metricitems")
      p.metric__icon(ng-class="metric.icon") &#10145;
      p.metric__name {{metric.name}}
      p.metric__text {{metric.text}}
