competitor-width = 400px
image-width = 230px
metric-margin = 2px
icon-size = 30px

body
  background #333

h1
  color white
  text-align center
  margin 0
  padding 0
  font-family 'Press Start 2P', cursive

.competition
  display flex
  justify-content center
  align-items center
  flex-wrap wrap

  .competition__competitor
    margin 0 1%
    flex 1
    max-width competitor-width

  .competition__shuffle
    color white
    font-family 'Press Start 2P', cursive

@media all and (-ms-high-contrast:none)
  *::-ms-backdrop, .competition .competition__competitor
    max-width none

.competitor
  .competitor__input
    text-align center

  .competitor__image
    line-height image-width
    text-align center

  .competitor__metric
    background #f9f9f9
    border-radius 20px

.image
  position relative

  .image__spinner
    position absolute
    top 0
    left 0
    margin 0
    width 100%

  img
    vertical-align middle
    height auto
    max-height image-width
    max-width 100%

  p
    position absolute
    top 0
    left 0
    margin 0
    width 100%
    font-size 40px
    font-family 'Press Start 2P', cursive
    text-shadow 5px 5px 1px #333

    &.win
      color red

    &.lose
      color blue

    &.draw
      color white

.metric
  margin metric-margin 0
  display flex
  align-items center

  p
    text-align center
    height 100%
    margin 0
    word-wrap break-word

  .metric__icon
    font-size icon-size
    line-height icon-size
    width icon-size
    flex 0.3
    transition transform 1s ease, color 1s ease

    &--up
      color red
      transform rotate(-90deg)

    &--down
      color blue
      transform rotate(90deg)

  .metric__name
  .metric__text
    flex 1
