html, body
  background #333

h1
  text-align center
  color white
  filter blur(1px)
  margin 0

.competition
  margin-left auto
  margin-right auto
  display flex
  justify-content center

.competition__competitor
  flex 1
  margin 2%
  max-width 400px

.competitor__input
  text-align center

.competitor__image
  height 230px
  text-align center

.competitor__metric
  margin-left auto
  margin-right auto
  background #f9f9f9
  border-radius 20px

.metric
  display flex
  align-items center

.metric p
  margin 0
  padding 0
  text-align center
  word-wrap break-word
  height 100%

.metric__icon
  font-size 30px
  width 30px
  line-height 30px
  transition transform 1s ease, color 1s ease

.metric__icon--up
  color red
  transform rotate(-90deg)

.metric__icon--down
  color blue
  transform rotate(90deg)

.metric__name, .metric__value
  flex 1 1 0px
