doctype html
html(lang="ja" ng-app="dosenApp")
  head
    meta(charset="UTF-8")
    title dosen
    script(src="bower_components/angular/angular.js")
    script(src="dosenApp.js")
    link(rel="stylesheet",href="index.css")
    body(ng-style="{'background-color': bgcolor}")
    h1 dosen
    input(type="color" ng-model="bgcolor" ng-init="bgcolor='#226100'")
    .competition(ng-controller="CompetitionCtrl as c")
      .competitor.competition__competitor
        form(ng-submit="c.update()")
          p.competitor__input
            input(type="text" ng-model="c.companion.name")
            input(type="submit")
        .competitor__image
          img(ng-src="{{c.companion.image_url}}")
          p(ng-class="c.companion.finish_style") {{c.companion.finish_text}}
        .metric.competitor__metric(ng-repeat="metric in c.companion.metricitems")
          p.metric__icon(ng-class="metric.icon") &#10145;
          p.metric__name {{metric.name}}
          p.metric__text {{metric.text}}
      .competitor.competition__competitor
        form(ng-submit="c.update()")
          p.competitor__input
            input(type="text" ng-model="c.opponent.name")
            input(type="submit")
        .competitor__image
          img(ng-src="{{c.opponent.image_url}}")
          p(ng-class="c.opponent.finish_style") {{c.opponent.finish_text}}
        .metric.competitor__metric(ng-repeat="metric in c.opponent.metricitems")
          p.metric__icon(ng-class="metric.icon") &#10145;
          p.metric__name {{metric.name}}
          p.metric__text {{metric.text}}
