doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title dosen
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="animal.js")
    script(src="extractor.js")
    script(src="wikipedia.js")
    link(rel="stylesheet",href="index.css")
  body
    h1 dosen
    each p in [1, 2]
      .pane(id="pane_#{p}")
        p
          input(type="text",value="ペリカン")
          input(type="submit")
        each m in [1, 2, 3]
          .metric(id="pane_#{p}__metric_#{m}")
            p.metric__icon &#10145;
            p.metric__title metric#{m}
            p.metric__value 0
    script(src="index.js")
